*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
body{
  font-family: "微软雅黑","Hiragino Sans GB";
}
img{
  vertical-align: bottom;
}
.clearfix:after{
  content: "";
  display: block;
  clear: both;
}
.head{
  width: 100%;
  height: 2.2rem;
  background: #68bf21;
}
.head span{
  float: left;
  color: #fff;
  line-height: 2.2rem;
  font-size: 0.75rem;
  margin-left: 4.75rem;
}
.head a{
  float: left;
  color: #fff;
  line-height: 2.2rem;
  font-size: 0.6rem;
  margin-left: 0.5rem;
}
/**/
.app{
  display: block;
  width: 6.5rem;
  height: 5rem;
  margin: 0 auto;
  margin-top: 1.5rem;
  margin-bottom: 3.25rem;
}
.btn a{
  width: 14rem;
  height: 1.75rem;
  border-radius: 0.75rem;
  background: #68bf21;
  display: block;
  margin: 0 auto;
  text-align: center;
  line-height: 1.75rem;
  font-size: 0.65rem;
  color: #fff;
}
.btn a:nth-of-type(2){
  background: #b0b0b0;
  margin-top: 0.75rem;
}
.bag{
  margin-top: 4rem;
}
.bag p{
  font-size: 0.7rem;
  color: #666666;
  line-height: 1.2rem;
  text-align: center;
}
.bag p:nth-of-type(2){
  font-size: 0.6rem;
}
.mes{
  height: 1.85rem;
  border-top: 0.025rem solid #e4e4e4;
  padding-top: 0.6rem;
  margin-top: 0.3rem;
}
.mes p{
  font-size: 0.55rem;
  color: #999999;
  text-align: center;
}


















a
