*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
body{
  font-family: "微软雅黑","Hiragino Sans GB";
  background: #f8f8f8;
}
img{
  vertical-align: bottom;
}
em{
  font-style: normal;
}
input{
  outline: none;
}
textarea,select,input{-webkit-appearance: none; -moz-appearance: none; -o-appearance: none; appearance: none;}
.clearfix:after{
  content: "";
  display: block;
  clear: both;
}
.head{
  width: 100%;
  height: 2.2rem;
  background: #68bf21;
}
.head span{
  float: left;
  color: #fff;
  line-height: 2.2rem;
  font-size: 0.75rem;
  margin-left: 4.75rem;
}
.head a{
  float: left;
  color: #fff;
  line-height: 2.2rem;
  font-size: 0.6rem;
  margin-left: 0.5rem;
}
.head a:nth-of-type(2){
  float: right;
  margin-right: 0.5rem;
}
/**/
.setTwo{
  margin-top: 0.5rem;
  background: #fff;
}
.setTwo{
  padding: 0 1rem;
  font-size: 0.7rem;
  color: #666666;
  line-height: 2rem;
  border-top: 0.025rem solid #e5e5e5;
  border-bottom: 0.025rem solid #e5e5e5;
}
.set{
  margin-top: 0;
}
.setTwo div:nth-of-type(2){
  margin-top: -0.025rem;
}
.setTwo span{
  float: left;
}
.setTwo span:nth-of-type(2){
  float: right;
}
.green{
  color: #68bf21;
  font-size: 0.6rem;
}
.red{
  color: #ff741c;
  font-size: 0.6rem;
}
.blue{
  color: #00d2ff;
  font-size: 0.6rem;

}
/**/
.foot{
  width: 100%;
  height: 2.4rem;
  border: 0.05rem solid #dddddd;
  background: #fff;
  position: fixed;
  bottom: 0;
}
.foot a{
  font-size: 0.8rem;
  color: #fff;
  display: block;
  width: 15rem;
  height: 1.75rem;
  background: #68bf21;
  border-radius: 0.75rem;
  text-align: center;
  line-height: 1.75rem;
  margin: 0 auto;
  margin-top: 0.375rem;
}
/*个人资料*/
.presonPic{
  margin-top: 0.5rem;
  background: #fff;
  border-top: 0.025rem solid #e5e5e5;
  border-bottom: 0.025rem solid #e5e5e5;
  padding: 0 1rem;
}
.presonPic span:nth-of-type(1){
  font-size: 0.7rem;
  color: #333333;
  line-height: 3.75rem;
  float: left;
}
.presonPic img{
  width: 3rem;
  height: 3rem;
  margin: 0.25rem 0 0 8.65rem;
}
.presonPic span:nth-of-type(2){
  float: right;
  line-height: 3.75rem;
  color: #999999;
}
.presonOne{
  margin-top: 0.5rem;
  padding: 0 1rem;
  background: #fff;
}
.pre{
  border-top: 0.025rem solid #e5e5e5;
}
.pre span{
  font-size: 0.7rem;
  color: #333333;
  line-height: 1.825rem;
  float: left;
}
.pre span:nth-of-type(2){
  float: left;
  margin-left: 0.5rem;
  color: #666666;
  font-size: 0.65rem;
}
.pre input{
  border: none;
  float: right;
  height: 1.825rem;
  line-height: 1.825rem;
  color: #999999;
  font-size: 0.65rem;
  text-align: right;
  width: 5rem;
}
.presonTwo{
  margin-top: 0.5rem;
  padding: 0 1rem;
  background: #fff;
}
.choice{
	width: 5rem;
  border: none;
  float: right;
  height: 1.825rem;
  line-height: 1.825rem;
  color: #999999;
  font-size: 0.65rem;
  text-align: right;
  outline: none;
}
/*.choice option{
  font-size: 0.6rem;
  border: none;
}*/
.presonName{
  margin-top: 0.5rem;
  background: #fff;
  border-top: 0.025rem solid #e5e5e5;
  border-bottom: 0.025rem solid #e5e5e5;
  padding: 0 1rem;
}
.presonCard{
  margin-top: 0.5rem;
  background: #fff;
  border-top: 0.025rem solid #bbbbbb;
  border-bottom: 0.025rem solid #bbbbbb;
  padding: 0 1rem;
}
.presonCard span{
  line-height: 2rem;
}
.presonCard span:nth-of-type(1){
  font-size: 0.7rem;
  color: #333333;
  float: left;
}
.presonCard span:nth-of-type(2){
  font-size: 0.65rem;
  color: #666666;
  float: right;
}
.presonCardBtn{
  width: 14rem;
  height: 1.75rem;
  background: #68bf21;
  border-radius: 0.75rem;
  margin: 0 auto;
  margin-top: 7.5rem;
  text-align: center;
  line-height: 1.75rem;
  font-size: 0.8rem;
  color: #fff;
}
/*上传头像*/
.tx img{
  width: 100%;
}
.uploadWallpaperButton{
  height: 2.2rem;
  width:2.5rem;
  bottom: 0rem;
  right:  0rem;
  cursor: pointer;
  position: absolute;;
}
 .f{
    opacity: 0;
    filter: alpha(opacity=0);
    overflow: hidden;
    height: 2.2rem;
    width: 2.5rem;
}




























a
