*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
body{
  font-family: "微软雅黑","Hiragino Sans GB";
  background: #f8f8f8;
}
img{
  vertical-align: bottom;
}
.clearfix:after{
  content: "";
  display: block;
  clear: both;
}
.head{
  width: 100%;
  height: 2.2rem;
  background: #68bf21;
}
.head span{
  float: left;
  color: #fff;
  line-height: 2.2rem;
  font-size: 0.75rem;
  margin-left: 4.75rem;
}
.head a{
  float: left;
  color: #fff;
  line-height: 2.2rem;
  font-size: 0.6rem;
  margin-left: 0.5rem;
}
/**/
h4{
  font-size: 0.7rem;
  color: #888888;
  font-weight: normal;
  text-align: center;
  margin-top: 0.75rem;
}
textarea{
  width: 14rem;
  height: 6rem;
  padding-top: 0.2rem;
  display: block;
  border: 0.025rem solid #68bf21;
  border-radius: 0.175rem;
  margin: 0 auto;
  margin-top: 0.75rem;
  resize: none;
  font-size: 0.55rem;
  color: #999999;
  text-indent: 0.5rem;
}
h5{
  font-size: 0.55rem;
  color: #666666;
  font-weight: normal;
  margin-left: 1rem;
  margin-top: 0.575rem;
  line-height: 1.05rem;
}
.input{
  display: block;
  width: 14rem;
  height: 1.7rem;
  border: 0.025rem solid #68bf21;
  border-radius: 0.175rem;
  margin: 0 auto;
  font-size: 0.55rem;
  text-indent: 0.5rem;
}
.mail{
  margin-top: 0.5rem;
}
.btn{
  display: block;
  width: 14rem;
  height: 1.75rem;
  background: #68bf21;
  margin: 0 auto;
  margin-top: 0.75rem;
  border-radius: 0.75rem;
  font-size: 0.8rem;
  color: #fff;
  text-align: center;
  line-height: 1.75rem;
}
p{
  font-size: 0.55rem;
  color: #999999;
  text-align: center;
  line-height: 0.75rem;
}
p:nth-of-type(1){
  font-size: 0.6rem;
  margin-top: 2.25rem;
  margin-bottom: 0.75rem;
  color: #888888;
}











a
