* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.clearfix {
	zoom: 1;
}

#main {
	width: 800px;
	height: 800px;
	border: 1px dashed #000;
	margin: 0 auto;
}

#pageBox span,
#pageBox a {
	width: 50px;
	height: 20px;
	text-align: center;
	background-color: #666;
	margin: 0 5px;
	cursor: pointer;
}

#pageBox span {
	display: inline-block;
}

#pageBox span.actColor {
	background-color: red;
}

#pageBox a {
	float: left;
	color: #fff;
}

#pages {
	float: left;
}

#info .block span {
	padding: 20px;
	font-size: 14px;
	font-weight: bold;
}

#info .gays {
	padding: 20px;
	color: #666;
}

#info .gays a {
	font-size: 12px;
	padding: 10px;
	color: #328fbe;
}

#leftBox {
	width: 100px;
	float: left;
	text-align: center;
}

#leftBox a {
	display: block;
	line-height: 50px;
	background-color: #ccc;
	margin-bottom: 10px;
}

#leftBox a.red {
	background-color: red;
	color: #fff;
}

#rightBox {
	width: 700px;
	float: right;
}

#rightBox h3 {
	background-color: yellow;
	width: 100px;
	text-align: center;
}