*{
	padding: 0;
	margin: 0;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
img{
	vertical-align: bottom;
}
.clearfix:after{
	display: block;
	content: '';
	clear: both;
}


/*banner内容*/
.banner{
	width: 100%;
	height: 760px;
	background: url(../img/cjfl-b.jpg) no-repeat center center;
}
.time{
	width: 1000px;
	margin: 0 auto;
}
.time p:nth-of-type(1){
	margin-left: 56px;
	margin-top: 30px;
	font-size: 34px;
	color: #540614;
	font-family: "微软雅黑";
}
.state{
	margin-left: 56px;
	font-size: 26px;
	color: #540614;
	font-family: "微软雅黑";
}
/*头部部分*/
.head{
	width: 100%;
	height: 60px;
	background:#FFFFFF;
}
.nav{
	width: 1000px;
	margin: 0 auto;
}
#logo{
	float: left;
	width: 200px;
	height: 60px;
}
.tel{
	float: right;
	font: 14px/60px "微软雅黑";
}
.tel img{
	vertical-align: middle;
	margin-right: 15px;
}
/*时间状态*/
.timestate{
	width: 1000px;
	height: 430px;
	margin: 0 auto;
}
.pic{
	width: 960px;
	padding: 0 20px;
	margin-top: 70px;
}
.pic img{
	float: left;
}
.listT li{
	float: left;
	margin-right: 90px;
	font-family: "微软雅黑";
	margin-top: 15px;
}
.listT li:nth-of-type(4){
	margin-right: 0;
}
.article{
	font-family: "微软雅黑";
	margin-top: 60px;
	line-height: 25px;
}
/*投标平台*/
.platform{
	width: 100%;
	height: 443px;
	padding-top: 70px;
	background: url(../img/cjfl-pt.jpg);
}
.platform-n{
	width: 992px;
	height: 352px;
	border: 4px solid #f47c00;
	margin: 0 auto;
	background: #FFFFFF;
}
.platL{
	width: 706px;
	float: left;
}
.platT{
	margin-bottom: 45px;
}
.platT img{
	float: left;
	margin: 16px 0 0 20px;
}
.platT span{
	float: left;
	width: 300px;
	height: 30px;
	background: #f48e25;
	text-align: center;
	font: 18px/30px "微软雅黑";
	color: #FFFFFF;
	margin: 26px 0 0 65px;
}


.platN{
	margin-bottom: 35px;
}
.platform .platN li{
	width: 175px;
	height: 70px;
	border-right: 1px solid #fccfa6;
	float: left;
}
.platN p{
	text-align: center;
}
.platN p:nth-of-type(1){
	font: 28px/40px "微软雅黑";
	color: #f48c29;
}
.platN p:nth-of-type(2){
	font: 14px/22px "微软雅黑";
	color: #646464;
}
.platform .platN li:nth-of-type(4){
	border-right: none;
}
.platE{
	width: 538px;
	padding-left: 168px;
	margin-bottom: 33px;
}
.platE li{
	float: left;
	font: 14px/25px "微软雅黑";
	margin-right: 60px;
}
.platB{
	width: 706px;
	
}
.platB a{
	margin: 0 auto;
	display: block;
	width: 160px;
	text-align: center;
	font: 16px/40px "微软雅黑";
	color: #FFFFFF;
	
}
#unopened{
	background-color: #D7D7D7;
}
#have{
	background-color: #D7D7D7;
}
#begin{
	background-color: #f48d24;
}
#over{
	background-color: #D7D7D7;
}
#closed{
	background-color: #D7D7D7;
}
#reserves{
text-align: center;
}
#reserves input{
	width: 158px;
	height: 38px;
	border: 1px solid #f48d24;
	font: 16px/38px "微软雅黑";
	text-align: center;
}
#reserves .reservesA{
	display: inline-block;
	background-color: #f48d24;
	margin-left: 20px;
}
/**/
.platR{
	width: 282px;
	float: left;
	
	border-left: 4px solid #f47a00;
}
.platR h3{
	font: 26px/60px "微软雅黑";
	text-align: center;
	color: #FFFFFF;
	background: #f47c00;
}
#scrollDiv{
	overflow: hidden;
	height: 260px;
}
.phone{
	height: 260px;
	background: #FFFFFF;
	padding: 0 16px;
	
}
.phone li{
	position: relative;
	top: 0;
	font-size: 12px;
	font-family: "微软雅黑";
	height: 19px;
	padding-top: 20px;
	text-align: center;
	border-bottom: 1px dashed #c2c5ba;
	cursor: pointer;
}
.phone li span:nth-of-type(1){
	float: left;
}
.phone li span:nth-of-type(3){
	float: right;
}
.platR p{
	font: 14px/36px "微软雅黑";
	color: #FFFFFF;
	text-align: center;
	background: #f47c00;
}




/**/

.students{
	margin:0 auto;
	width:1180px;
	height:320px;
	position:relative;
}



.four_flash{
	width:1180px;
	height:200px; 
	position:absolute;
	top: 80px;
}


.flashBg{
	width:1088px;
	height:181px;
 	position:relative;
 	overflow:hidden;
 	left: 35px;
 }

#mobile{
	width:2000%;
	height:181px;
 	position:absolute;
 	top:15; 
 	left:0;
 }

.list {
	width: 318px;
	height: 179px;
	float: left;
	margin-left: 35px;
	border: 1px solid #ff870b;
}

.but_left{
	position:absolute; 
	top:45px; 
	left:0px;
}
.but_right{
 	position:absolute; 
 	top:45px; 
 	right:0px;
}
























/*平台列表*/
.past{
	width: 1180px;
	height: 354px;
	margin: 0 auto;
}
.past a{
	font-size: 80px;
	color: #cccccc;
	font-weight: bolder;
}
.pastL{
	float: left;
	width: 1065px;
	height: 181px;
	margin-top: 90px;
	overflow: hidden;
}
.pastL .list{
	position: relative;
	left: 0;
	width: 318px;
	height: 179px;
	float: left;
	margin-left: 35px;
	border: 1px solid #ff870b;
}
.title img{
	display: inline-block;
	margin: 20px 0 0 20px;
}
.title span{
	font: 20px/40px "微软雅黑";
	color: #f47c00;
	margin-left: 15px;
}
#maindiv1 .pastM{
	margin-top: 40px;
	padding-left:7px ;
	position: static;
}
.pastM-list{
	width: 63px;
	padding: 0 9px;
	float: left;
	border-right: 1px solid #f48e25;
}
.pastM-list p:nth-of-type(1){
	font-size: 14px;
	font-family: "微软雅黑";
	text-align: center;
	color: #f48e25;
}
.pastM-list p:nth-of-type(2){
	font-size: 12px;
	font-family: "微软雅黑";
	text-align: center;
	color: #808080;
}
.pastM-list:nth-of-type(3){
	border-right:none ;
}
.pastM-btn{
	width: 43px;
	text-align: center;
	float: left;
	color: #ffaf5b;
	border: 1px solid #ffaf5b;
	font: 14px/25px "微软雅黑";
}
/*规则*/
.rule{
	width: 100%;
	height: 351px;
	background: url(../img/cjfl-sm.jpg);
}
.ruleA{
	width: 1000px;
	margin: 0 auto;
}
.ruleA h2{
	padding-top: 50px;
	margin-bottom: 32px;
}
.ruleA h2 span:nth-of-type(1){
	font-size: 24px;
	font-family: "微软雅黑";
	color: #f47c00;
	font-weight: normal;
}
.ruleA h2 span:nth-of-type(2){
	font-size: 14px;
	font-family: "微软雅黑";
	font-weight: normal;
}
.ruleA p{
	font: 14px/26px "微软雅黑";
}










