*{
	padding: 0;
	margin: 0;
}
a{
	text-decoration: none;
}
.bg{
	background: url(../img/registered1.jpg) no-repeat center center;
	height: 28.4rem;
	width: 15rem;
	padding: 0 0.5rem;
	background-size: cover;
}
.tel{
	margin-top: 14.2rem;
	width: 14.85rem;
	height: 2.1rem;
	border: 0.075rem solid #6aad50;
	border-radius: 0.15rem;
	font-size:0.65rem ;
	text-indent: 0.45rem;
	font-family: "微软雅黑";
}
.btn{
	display: block;
	width: 15rem;
	height: 2.25rem;
	background: #6aad50;
	border-radius: 0.15rem;
	text-align: center;
	font: 0.8rem/2.25rem "微软雅黑";
	color: #ffffff;
	margin-top: 0.5rem;
}
.bg img:nth-of-type(1){
	width: 1.95rem;
	height: 1.95rem;
	margin: 0 auto;
	margin-top: 2.125rem;
	display: block;
}
.bg img:nth-of-type(2){
	width:4.5rem;
	height: 0.75rem;
	display: block;
	margin: 0 auto;
	margin-top: 0.25rem;
}
.bg p{
	font-size: 0.45rem;
	color: #ffffff;
	text-align: center;
	margin: 0.5rem 0 0 0.75rem;
}
/*底部*/
.foot{
	width: 15rem;
	height: 2.425rem;
	padding:0 0.5rem;
	background-color:#eeeeee;
	position: fixed;
	bottom: 0;
}
.foot div{
	float: left;
}
.foot div:nth-of-type(3){
	float: right;
}
.foot img{
	width:1.7rem;
	height: 1.7rem;
	margin-top: 0.375rem;
}
.title{
	display: inline-block;
	font: 0.7rem/2.425rem "微软雅黑";
	color: #88b73d;
	margin-left: 0.7rem;
}
.foot a{
	display: inline-block;
	width:2.5rem ;
	height: 1.125rem;
	background: #66a402;
	color: #fff;
	font: 0.7rem/1.125rem "微软雅黑";
	text-align: center;
	border-radius: 0.1rem;
	margin-top: 0.65rem;
}