*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
input[type=input]{
  -webkit-appearance:none;
}
.bg{
  background: url(../img/rebg1.gif) no-repeat center center;
  width: 15.2rem;
  height: 28.4rem;
  background-size: cover;
  padding: 0 0.4rem;
}
.bg input{
  width: 14.85rem;
  height: 1.65rem;
  border: 0.075rem solid #ff7388;
  border-radius: 0.85rem;
  background: #fff;
  font-size: 0.8rem;
  font-family: "微软雅黑";
  margin-bottom: 0.5rem;
}
.bg input:nth-of-type(1){
  text-indent: 1rem;
  margin-top: 14.2rem;
}
.bg input:nth-of-type(2){
  color: #ff7388;
}
