*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
.bg{
  background: url(../img/four.gif) no-repeat center center;
  width: 16rem;
  height: 23.825rem;
  background-size: cover;
  padding-top: 4.525rem;
}
.border{
  width: 14.025rem;
  height: 17.35rem;
  border: 0.025rem solid #c78168;
  margin: 0 auto;
}
.pic{
  width: 13rem;
  height: 16.325rem;
  border: 0.025rem solid #c78168;
  margin: 0.5rem;
  position: relative;
}
.p_one{
  width: 13rem;
  height: 16.325rem;
}
.p_pic{
  width: 2.825rem;
  height: 2.35rem;
  position: absolute;
  bottom: 0.75rem;
  left: 5.1rem;
}
.word{
  width: 9.9rem;
  height: 3.65rem;
  border: 0.025rem dashed #333;
  resize: none;
  position: absolute;
  top: 1.175rem;
  left: 1.5rem;
  font: 0.5rem/0.7rem "微软雅黑";
  text-indent: 0.1rem;
  outline: none;
  background: rgba(0,0,0,0);
}
.end{
  width: 5.25rem;
  margin: 0 auto;
  margin-top: 2.25rem;
  display: block;
  color: #a7320e;
  text-align: center;
  font: 0.7rem/1.8rem "微软雅黑";
  border: 0.075rem solid #a7320e;
  border-radius: 1.5rem;
}
/**/
.bg1{
  padding-top: 2.025rem;
}
.border_1{
  width: 15.025rem;
  height: 16.025rem;
  border: 0.025rem solid #c78168;
  margin: 0 auto;
}
.pic_1{
  width: 14rem;
  height: 15rem;
  border: 0.025rem solid #c78168;
  margin: 0.5rem;
  position: relative;
}
.p_one_1{
  width: 14rem;
  height: 15rem;
}
.word_1{
  position: absolute;
  bottom: 2.1rem;
  left: 1.45rem;
  font: 0.5rem/0.7rem "微软雅黑";
  color: #333;
}
.fx{
  display: block;
  margin: 0 auto;
  margin-top: 0.8rem;
  width: 4.65rem;
  height: 1.95rem;
}
.fx img{
  width: 4.65rem;
  height: 1.95rem;
}
.zan{
  text-align: center;
  font: 0.65rem/0.75rem "微软雅黑";
  color: #a7320e;
  margin-top: 1.25rem;
}
