*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
.bg{
  background: url(../img/four.gif) no-repeat center center;
  width: 16rem;
  height: 23.825rem;
  background-size: cover;
  padding-top: 4.525rem;
}
/**/
.bg1{
  padding-top: 2.025rem;
}
.border_1{
  width: 15.025rem;
  height: 16.025rem;
  border: 0.025rem solid #c78168;
  margin: 0 auto;
}
.pic_1{
  width: 14rem;
  height: 15rem;
  border: 0.025rem solid #c78168;
  margin: 0.5rem;
  position: relative;
}
.p_one_1{
  width: 14rem;
  height: 15rem;
}
.word_1{
  position: absolute;
  bottom: 2.1rem;
  left: 1.45rem;
  font: 0.5rem/0.7rem "微软雅黑";
  color: #333;
}
.fx{
  display: block;
  margin: 0 auto;
  margin-top: 0.8rem;
  width: 4.65rem;
  height: 1.95rem;
}
.fx img{
  width: 4.65rem;
  height: 1.95rem;
}
.zan{
  text-align: center;
  font: 0.65rem/0.75rem "微软雅黑";
  color: #a7320e;
  margin-top: 1.25rem;
}
.mask{
  width: 16rem;
  height: 28.35rem;
  position: fixed;
  top: 0;
  left: 0;
}
