*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
.bg{
  background: url(../img/three.gif) no-repeat center center;
  width: 16rem;
  height: 28.35rem;
  background-size: cover;
}
.bg img{
  width: 15.075rem;
  height:16.075rem;
  margin: 0 auto;
  display: block;
  padding-top: 2rem;
}
.btn{
  margin: 0 auto;
  margin-top: 0.8rem;
  width: 5.25rem;
  height: 1.8rem;
  border: 0.075rem solid #a7320e;
  border-radius: 1.5rem;
  overflow:hidden;
  border-left: none;
}
.btn span{
  float: left;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  background: #a7320e;
  color: #fff;
  text-align: center;
  font: 0.55rem/1.8rem "微软雅黑";
}
.btn a{
  float: left;
  width: 3.425rem;
  color: #a7320e;
  text-align: center;
  font: 0.75rem/1.8rem "微软雅黑";
}
.word{
  font: 0.8rem/0.9rem "微软雅黑";
  color: #a7320e;
  padding-left: 0.5rem;
  margin-top: 1.25rem;
}
