*{
	margin: 0;
	padding: 0;
}
img{
	vertical-align: bottom;
}
a{
	text-decoration: none;
	color: #000000;
}
.pic{
	width: 100%;
	margin-bottom: 0.725rem;
}
.pic img{
	width: 100%;
	height: 7.75rem;
}
.warp{
	width: 15rem;
	padding-left: 0.5rem;
	margin-bottom: 2.9rem;
}
.btn{
	width:15rem;
	height:2rem;
	margin-bottom: 0.75rem;
}
.mes{
	width: 50%;
	background: #bbbbbb;
	color: #FFFFFF;
	font-weight: normal;
	text-align:center;
	float: left;
	border-radius: 0.125rem 0 0 0.125rem;
	font: 0.6rem/2rem "Arial";
}
.confirm{
	width: 50%;
	background: #66a402;
	color: #FFFFFF;
	font-weight: normal;
	text-align:center;
	float: left;
	border-radius: 0 0.125rem 0.125rem 0;
	font: 0.6rem/2rem "Arial";
}
.code{
	width:15rem;
	height:2rem;
	margin-bottom: 3.75rem;
}
.code_inp{
	width: 8rem;
	border-radius: 0.125rem;
	text-indent: 0.5rem;
	margin-bottom: 0.5rem;
	float: left;
	font: 0.6rem/2rem "Arial";
}
.identifying{
	width: 6.5rem;
	background: #66a402;
	float: right;
	color: #FFFFFF;
	line-height: 2rem;
	text-align: center;
	border-radius: 0.125rem;
	font: 0.6rem/2rem "Arial";
}
.next{
	text-decoration: none;
	display: block;
	width: 15rem;
	background: #66a402;
	border-radius: 0.125rem;
	text-align: center;
	color: #FFFFFF;
	margin-bottom: 0.5rem;
	font: 0.6rem/2rem "Arial";
}
.word{
	font-family: "Arial";
	font-size: 0.5rem;
}
.word span:nth-of-type(1){
	color: #666666;
}
.word span:nth-of-type(2){
	color: #262626;
}
.foot{
	padding-left: 0.5rem;
	width: 15rem;
}
.service{
	font-family: "Arial";
	font-size:0.6rem ;
	color: #666666;
	margin-bottom: 0.45rem;
}
























