*{
  padding:0;
  margin: 0;
  font-family: "微软雅黑";
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
body{
  background: #f7f7f7;
}
.clearfix:after{
  display: block;
  content: "";
  clear: both;
}
/*预约时间*/
.time{
  width: 16rem;
  padding-top: 1rem;
  margin-bottom: 1.35rem;
}
.t_state{
  padding-left: 6rem;
}
.t_state span{
  font-size: 0.9rem;
}
.t_state img{
  width: 3.7rem;
  height: 1rem;
  vertical-align: super;
}
.t_time{
  width: 7.7rem;
  text-align: center;
  font: 1.6rem/2.675rem "微软雅黑";
  margin-left: 4.25rem;
  color: #4d4b4c;
  border-bottom: 0.025rem solid #80be05;
}
/*icon状态*/
.icon{
  margin-bottom: 0.75rem;
}
.i_top img{
  float: left;
  width: 3.625rem;
  height: 2.15rem;
  margin-right: 1.15rem;
}
.i_top img:nth-of-type(3n){
  width: 2.15rem;
  height: 2.15rem;
  margin-right: 0;
}
.i_top{
  margin-left: 2.45rem;
}
.i_bottom{
  margin-left: 2.35rem;
}
.i_bottom li{
  float: left;
}
.i_bottom li:not(:last-child){
  margin-right: 2.3rem;
}
.i_bottom p:nth-of-type(1){
  font: 0.6rem/1.25rem "微软雅黑";
  color: #626161;
}
.i_bottom p:nth-of-type(2){
  font-size: 0.4rem;
  text-align: center;
  color: #959595;
}
/*平台*/
.plat{
  width: 12.975rem;
  height: 7rem;
  padding-left: 0.625rem;
  margin-left: 1.25rem;
  border: 0.025rem solid #bfbfbf;
  border-radius: 0.05rem;
}
.p_top{
  margin-top: 0.75rem;
}
.p_top li{
  float: left;
  text-align: center;
  color: #a9a9a9;
}
.p_top li:not(:last-child){
  margin-right: 1.15rem;
}
.p_top p:nth-of-type(1){
  font-size: 0.55rem;
}
.p_top p:nth-of-type(2){
  font-size: 0.5rem;
  line-height: 1rem;
}
.p_t_c{
  font-size: 0.8rem;
}
.p_t_c1{
  color: #00beff;
}
.p_t_c2{
  color: #80be05;
}
.p_t_c3{
  color: #959595;
}
.p_t_c4{
  color: #ff7700;
}
.p_bottom{
  margin-top: 0.5rem;
}
.p_mes{
  float: left;
}
.p_mes li{
  font:0.45rem/0.8rem "微软雅黑";
  color: #6a6969;
}
.p_logo{
  float: right;
  margin-right: 0.75rem;
  font-size: 0.45rem;
  text-align: center;
}
.p_logo img{
  width: 3.325rem;
  height: 1.25rem;
}
.p_logo p{
  margin-top: 0.4rem;
  color: #706f6f;
}
.p_l_m span{
  display: inline-block;
  width: 2.75rem;
  height: 0.6rem;
  border: 0.025rem solid #c8c8c8;
  border-radius: 0.25rem;
  color: #a8a8a8;
}
/*往期信息*/
.past{
  margin: 0.8rem 0 0.8rem 3.75rem;
}
.past a{
  float: left;
  width: 3.75rem;
  height: 0.8rem;
  border: 0.025rem solid #90c625;
  border-radius: 0.25rem;
  font: 0.4rem/0.8rem "微软雅黑";
  margin-right: 0.85rem;
  text-align: center;
  color: #90c625;
}
/*预约名单*/
.name{
  margin-top: 0.55rem;
  font: 0.5rem/0.95rem "微软雅黑";
  color: #434343;
  text-align: center;
}
.name li{
  line-height: 1.2rem;
}
/*投标按钮*/
.btn{
	position: fixed;
	width: 16rem;
	height: 2rem;
	bottom: 0;
	padding-bottom: 0.55rem;
	background: #F7F7F7;
}
.btn a{
	display: block;
  width: 13.65rem;
  background: #aaaaaa;
  margin-left: 1.25rem;
  color: #ffffff;
  font: 0.65rem/1.9rem "微软雅黑";
  text-align: center;
  border-radius: 0.9rem;
}
.po{
	height: 2.65rem;
}
/*遮罩层*/
.mask{
  position: fixed;
  width: 16rem;
  height: 30em;
  z-index: 2;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.5;
}
.atten{
  background: #fff;
  z-index: 3;
  position: fixed;
  top: 2rem;
  padding: 0 1.05rem;
}
.a_title{
  font-size: 0.75rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0.95rem;
}
.a_word{
  border-top: 0.025rem dashed #b6b5b4;
  padding-top: 0.75rem;
  font: 0.6rem/1.05rem "微软雅黑";
  color: #4d4c4c;
  margin-bottom: 0.45rem;
}
.a_word strong{
  font: 0.6rem/1.05rem "微软雅黑";
  color: #80be05;
}
.a_pla{
  width:13.55rem;
  height: 1.65rem;
  padding: 0.5rem 0 0 0.45rem;
  border: 0.025rem solid #d0d0d0;
  margin-bottom: 0.75rem;
}
.a_pla img{
  width: 3.325rem;
  height: 1.25rem;
}
.a_p_w{
  display: inline-block;
  margin-left: 0.4rem;
}
.a_pla span{
  display: block;
}
.a_pla span:nth-of-type(1){
  font-size: 0.6rem;
  color: #ff601a;
}
.a_pla span:nth-of-type(2){
  font-size: 0.45rem;
  color: #535353;
}
.a_cash{
  font-size: 0.5rem;
  line-height: 0.75rem;
  text-align: center;
  color: #535353;
}
.a_cash i{
  font-style: normal;
  color: #ff601a;
}
.a_no{
  font-size: 0.5rem;
  line-height: 0.75rem;
  text-align: center;
  color: #535353;
  margin-bottom: 1.075rem;
}
.con,.cancle{
  display: block;
  width: 14rem;
  height: 1.9rem;
  color: #fff;
  text-align: center;
  line-height: 1.9rem;
  border-radius: 0.75rem;
}
.c_con{
  background:#80be05;
  margin-bottom: 0.9rem;
}
.c_cancle{
  background: #aaaaaa;
  margin-bottom: 1.3rem;
}
