*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
body{
  font-family: "微软雅黑";
}
.clearfix:after{
  display: block;
  clear: both;
  content: "";
}
.wrap{
  width: 14rem;
  padding: 0 1rem;
}
.one{
  padding-top: 1.5rem;
  font-size:0.65rem;
  color: #4d4c4c;
  margin-bottom: 0.7rem;
}
.in{
  width: 13.6rem;
  height: 1.925rem;
  border: 0.025rem solid #bfbfbf;
  margin-bottom: 1.15rem;
}
.in input{
  width: 12rem;
  height: 1.9rem;
  font-size: 0.5rem;
  text-indent: 0.5rem;
  border: none;
  outline: none;
}
.in span{
  font-size: 0.5rem;
  color: #ff601a;
}
.two{
  font-size: 0.65rem;
  color: #4d4c4c;
  margin-bottom: 0.6rem;
}
.btn{
  height: 2.5rem;
  border-bottom: 0.025rem dashed #a2a19f;
  margin-bottom: 1.45rem;
}
.btn a{
  width: 5.65rem;
  background: #ffb400;
  border-radius: 1rem;
  font-size: 0.55rem;
  float: left;
  text-align: center;
  line-height: 1.3rem;
  color: #fff;
  margin-right: 0.55rem;
}
.btn a:nth-of-type(2){
  background: #ff601a;
}
.sure{
  display: block;
  width: 100%;
  background: #80be05;
  border-radius: 1.25rem;
  text-align: center;
  line-height: 2.2rem;
  color: #fff;
  font-size: 0.7rem;
  letter-spacing:  0.5rem;
  margin-bottom: 2.1rem;
}
.word{
  font: 0.5rem/0.8rem "微软雅黑";
  color: #535353;
}
.w_top{
  margin-bottom: 0.8rem;
}
.w_bottom{
  margin-bottom: 5rem;
}
