*{
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  text-decoration: none;
}
body{
  font-family: "微软雅黑","Hiragino Sans GB";
  background: #f8f8f8;
}
img{
  vertical-align: bottom;
}
h4{
  font-weight: normal;
}
.clearfix:after{
  content: "";
  display: block;
  clear: both;
}
.head{
  width: 100%;
  height: 2.2rem;
  background: #68bf21;
}
.head span{
  float: left;
  color: #fff;
  line-height: 2.2rem;
  font-size: 0.8rem;
  margin-left: 4.75rem;
}
.head a{
  float: left;
  color: #fff;
  line-height: 2.2rem;
  font-size: 0.6rem;
  margin-left: 0.5rem;
}
/**/
.plat{
  padding: 0 0.5rem;
  background: #fff;
  border-bottom: 0.05rem solid #e5e5e5
}
.platImg{
  width: 3.75rem;
  height: 1.625rem;
  border: 0.025rem solid #eeeeee;
  border-radius: 0.05rem;
  margin-top: 0.425rem;
}
.platImg img{
  width: 3.325rem;
  height: 1.25rem;
  display: block;
  margin: 0 auto;
  margin-top: 0.25rem;
}
.platOne span{
  font-size: 0.65rem;
  color: #555555;
  margin-left: 0.5rem;
  float: left;
  margin-top: 0.9rem;
}
.platOne a{
  font-size: 0.55rem;
  color: #999999;
  float: right;
  margin-top: 0.9rem;
}
.platImg{
  float: left;
}
.platMes{
  font-size: 0.6rem;
  line-height: 0.925rem;
  margin-top: 0.25rem;
}
.platMes p span:nth-of-type(1){
  color: #999999;
}
.platMes p span:nth-of-type(2){
  color: #666666;
}
.platTh{
  margin-bottom: 0.375rem;
}
.platTh li{
  float: left;
}
.platThList{
  float: left;
  margin-right: 1.25rem;
}
.platThList img{
  width: 1.2rem;
  height: 0.8rem;
}
.platThList1 span:nth-of-type(1){
  width: 1.95rem;
  height: 0.9rem;
  background: #ffba00;
  border-radius: 0.125rem;
  text-align: center;
  line-height: 0.9rem;
  color: #fff;
}
.platTh span{
  display: inline-block;
  font-size: 0.55rem;
  color: #999999;
}
.platThList1 span:nth-of-type(1){
  width: 1.5rem;
  background: #56ca4d;
}
.platThList2 img{
  width: 0.5rem;
  height: 0.65rem;
}
.platThList2 span{
  vertical-align: bottom;
}
.platPay{
  width: 100%;
  border-top: 0.025rem solid #dcdcdc;
  border-bottom: 0.025rem solid #dcdcdc;
}
.platPay li{
  float: left;
  font-size: 0.5rem;
  color: #999999;
  margin: 0.5rem 0;
}
.platPay li:not(:last-child){
  padding-right: 0.75rem;
  border-right: 0.025rem solid #e5e5e5;
}
.platlx p:nth-of-type(2){
  font-size: 2.1rem;
  margin-left: 0.95rem;
}
.platlx1 p:nth-of-type(2){
  color: #ff692f;
}
.platPay li:nth-of-type(2){
  margin-left: 0.425rem;
}
.platlx2 p:nth-of-type(2n){
  margin-left: 1rem;
}
.platlx2 p{
  margin-left: 0.4rem;
  line-height: 0.8rem;
}
.platReward{
  padding-bottom: 0.45rem;
}
.platReward li span{
  display: inline-block;
}
.platReward li span:nth-of-type(1){
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 0.025rem;
  font-size: 0.65rem;
  text-align: center;
  line-height: 0.9rem;
  color: #fff;
}
.platReward li .red{
    background: #d03f4a;
}
.platReward li .pur{
  background: #5541b7;
}
.platReward li .yel{
  background: #ffba00;
}
.platReward li span:nth-of-type(2){
  font-size: 0.6rem;
  color: #a0a0a0;
}
/**/
.couponCon{
  height: 6.45rem;
  border-top: 0.05rem solid #e5e5e5;
  border-bottom: 0.05rem solid #e5e5e5;
  margin-top: 0.5rem;
  padding: 0 0.5rem;
  background: #fff;
}
.coupon{
  border-bottom: 0.025rem solid #dcdcdc;
}
.coupon img{
  width: 1.2rem;
  height: 0.8rem;
  display: inline-block;
  vertical-align: sub;
}
.coupon span{
  font-size: 0.65rem;
  color: #555555;
  margin-right: 4.7rem;
  line-height: 2.4rem;
  display: inline-block;
}
.coupon a{
  font-size: 0.6rem;
  color: #999999;
  line-height: 2.4rem;
  display: inline-block;
}
.couponNum{
  font-size: 0.5rem;
  color: #969696;
}
.couponNum p{
  text-align: center;
  margin-top: 0.2rem;
}
/**/
.record{
  margin-top: 0.5rem;
  border-top: 0.05rem solid #e5e5e5;
  background: #fff;
}
.record h3{
  font-size: 0.65rem;
  color: #666666;
  font-weight: normal;
  line-height: 1.6rem;
  border-bottom: 0.025rem solid #e5e5e5;
  padding: 0 0.5rem;
}
.recordList li{
  padding: 0 0.5rem;
  border-bottom: 0.025rem solid #e5e5e5;
  height: 2.75rem;
  font-size: 0.6rem;
}
.recordList li img{
  width: 1.75rem;
  height: 1.75rem;
  float: left;
  margin: 0.5rem 0.45rem 0 0;
}
.recordName{
  float: left;
  margin: 0.8rem 0.75rem 0 0;
}
.recordName p:nth-of-type(1){
  color: #ff692f;
}
.recordName p:nth-of-type(2){
  color: #959595;
  font-size: 0.5rem;
}
.corderPlat{
  float: left;
  margin-top: 0.8rem;
  color: #535353;
}
.foot{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2.4rem;
  background: #fff;
  border-top: 0.05rem solid #dddddd;
}
.foot a{
  display: block;
  width: 15rem;
  height: 1.75rem;
  border-radius: 0.75rem;
  background: #68bf21;
  margin: 0 auto;
  margin-top: 0.375rem;
  text-align: center;
  line-height: 1.75rem;
  color: #fff;
  font-size: 0.8rem;
}
/**//* 平台一键绑定*/
.box{
  width: 12rem;
  margin: 0 auto;
  background: #fff;
  padding: 0 1rem;
}
.binding .a_title{
  font-size: 0.85rem;
  color: #ff692f;
}
.binding{
  width: 100%;
  z-index: 3;
  position: fixed;
  top: 2rem;
}
.binding p{
  font-size: 0.65rem;
  margin-bottom: 0.8rem;
  color: #535353;
}
.binding p:not(:nth-of-type(1)){
  text-indent: 0.4rem;
  color: red;
}
.binding input{
  width: 100%;
  height: 1.5rem;
  border: 0.025rem solid #c7c7c7;
  font-size:0.6rem;
  text-indent: 0.4rem;
}
.btn_a a:nth-of-type(2){
  background: #aaaaaa;
}
.binding .box1 p{
  text-indent:inherit;
  color: #535353;
}
.box1 .ptB{
  width: 100%;
  height: 2.2rem;
  border: 0.025rem solid #d9d9d9;
  margin-bottom: 1.7rem;
}
.box1 .ptB img{
  width: 3.325rem;
  height: 1.25rem;
  vertical-align: middle;
  margin: 0 0.45rem 0 0.45rem;
}
.box1 .ptB span{
  font: 0.65rem/2.2rem "微软雅黑";
  color: #4d4c4c;
}
.box1 p{
  margin-bottom: 1.7rem;
}
.box1 p:nth-of-type(2){
  margin-bottom: 3.4rem;
}
.box2 img{
  width: 11.1rem;
  height: 1.6rem;
}
.binding .box2 p{
  text-indent: inherit;
}
.box2 p:nth-of-type(1){
  margin-bottom: 0;
}
.box2 p:nth-of-type(2){
  margin-bottom: 2.5rem;;
}
.box2 p:nth-of-type(3){
  color: #535353;
  text-align: center;
  margin-top: 2.5rem;
  margin-bottom: 0;
}
.box2 p:nth-of-type(4){
  color: #80be05;
  text-align: center;
}
/*遮罩层*/
.mask{
  position: fixed;
  width: 16rem;
  height: 30em;
  z-index: 2;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.5;
}
/**/
.a_title{
  font-size: 0.75rem;
  text-align: center;
  padding-top: 1rem;
  margin-bottom: 0.95rem;
}
.a_word{
  border-top: 0.025rem dashed #b6b5b4;
  padding-top: 0.75rem;
  font: 0.6rem/1.05rem "微软雅黑";
  color: #4d4c4c;
  margin-bottom: 0.45rem;
}
.a_word strong{
  font: 0.6rem/1.05rem "微软雅黑";
  color: #80be05;
}
.a_pla{
  /*width:13.55rem;*/
  height: 1.65rem;
  padding: 0.5rem 0 0 0.45rem;
  border: 0.025rem solid #d0d0d0;
  margin-bottom: 0.75rem;
}
.a_pla img{
  width: 3.325rem;
  height: 1.25rem;
}
.a_p_w{
  display: inline-block;
  margin-left: 0.4rem;
}
.a_pla span{
  display: block;
}
/*.a_pla span:nth-of-type(1){
  font-size: 0.6rem;
  color: #ff601a;
}*/
.a_pla span:nth-of-type(1){
  font-size: 0.45rem;
  color: #535353;
}
.a_cash{
  font-size: 0.5rem;
  line-height: 0.75rem;
  text-align: center;
  color: #535353;
}
.a_cash i{
  font-style: normal;
  color: #ff601a;
}
.attenCash{
  font-size: 0.5rem;
  line-height: 0.75rem;
  color: #535353;
  margin-bottom: 2rem;
}
.a_no{
  font-size: 0.5rem;
  line-height: 0.75rem;
  text-align: center;
  color: #535353;
  margin-bottom: 1.075rem;
}
.con,.cancle{
  display: block;
  width: 12rem;
  height: 1.9rem;
  color: #fff;
  text-align: center;
  line-height: 1.9rem;
  border-radius: 0.75rem;
}
.c_con{
  background:#80be05;
  margin-bottom: 0.9rem;
}
.c_cancle{
  background: #aaaaaa;
  margin-bottom: 1.3rem;
}
.btn_a{
  padding-bottom: 0.9rem;
}
/*温馨提示*/
.hotTip{
  width: 100%;
  height: 3.375rem;
  background: #fff;
  border-top: 0.05rem solid #e5e5e5;
  border-bottom: 0.025rem solid #e5e5e5;
  margin-top: 0.5rem;
}
.hotTipO{
  padding-left: 0.5rem;
  margin-bottom: 0.2rem;
}
.hotTipO img{
  width: 0.9rem;
  height: 0.9rem;
}
.hotTipO span:nth-of-type(1){
  font-size: 0.6rem;
  color: #666666;
}
.hotTipO span:nth-of-type(2){
  font-size: 0.55rem;
}
.hotTipO span:nth-of-type(3){
  font-size: 0.55rem;
}
.hotTip p{
  font-size: 0.55rem;
  color: #a0a0a0;
  margin-left: 4.5rem;
}







a
