*{
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  text-decoration: none;
}
body{
  font-family: "微软雅黑","Hiragino Sans GB";
  background: #f8f8f8;
}
img{
  vertical-align: bottom;
}
.clearfix:after{
  content: "";
  display: block;
  clear: both;
}
/**/
.lc{
  width: 100%;
  height: 2.2rem;
  background: #68bf21;
  color: #fff;
  line-height: 2.2rem;
  font-size: 0.75rem;
  text-align: center;
}
.head{
  height: 1.375rem;
  background: #fff;
  font-size: 0.55rem;
  color: #999999;
  padding: 0 0.5rem;
  padding-top: 0.625rem;
  margin-bottom: 0.25rem;
}
.headList{
  float: left;
  text-align: center;
}
.head .headList{
  width: 3.7rem
}
/*箭头动画*/
.headList:hover .aaa{
  -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    transform: rotateX(180deg);
}
.aaa{
  -webkit-transition: -webkit-transform 0.1s ease-out;
    -moz-transition: -moz-transform 0.1s ease-out;
    -o-transition: -o-transform 0.1s ease-out;
    -ms-transition: -ms-transform 0.1s ease-out;
    display: inline-block;
}
/**/
.head div:not(:last-child){
  border-right: 0.025rem solid #bbbbbb;
}
.plat{
  background: #fff;
  border-bottom: 0.05rem solid #e5e5e5;
  padding: 0 0.5rem;
  margin-bottom: 0.5rem;
}
.platMes{
  padding-top: 0.425rem;
  margin-bottom: 0.4rem;
}
.platImg{
  width: 3.75rem;
  height: 1.625rem;
  border: 0.025rem solid #eeeeee;
  float: left;
  margin-right: 0.5rem;
}
.ptLogo{
  width: 3.325rem;
  height:1.25rem;
  display: block;
  margin: 0 auto;
  margin-top: 0.25rem;
}
.platName{
  float: left;
  font-size: 0.6rem;
  color: #535353;
}
.platName span{
  font-size: 0.55rem;
  color: #969696;
}
.platTel{
  float: right;
  color:#999999;
  font-size: 0.55rem;
}
.platName img{
  width: 0.775rem;
  height: 0.775rem;
}
.platTel img{
  width: 0.5rem;
  height: 0.65rem;
}
.platCom img{
  width: 1.25rem;
  height: 1.25rem;
  vertical-align: middle;
}
.platList{
  font-size: 0.57rem;
}
.platList span:nth-of-type(1){
  color: #999999;
}
.platList span:nth-of-type(1){
  color: #666666;
}
.platCou{
  margin:0.35rem 0;
}
.platCou p{
  float: left;
  font-size: 0.55rem;
  margin-right: 1.25rem;
  color: #999999;
}
.platCouList1 img{
  width: 1.2rem;
  height: 0.8rem;
}
.platCouList2 span:nth-of-type(1){
  width: 1.5rem;
  height: 0.9rem;
  background: #00bffe;
  border-radius: 0.15rem;
  text-align: center;
  line-height: 0.9rem;
  color: #fff;
  display: inline-block;
}
.platComCor span:nth-of-type(1){
  background: #5677fc;
}
.platComCor1 span:nth-of-type(1){
  background: #ff692f;
}
.platPay{
  width: 100%;
  border-top: 0.025rem solid #dcdcdc;
  border-bottom: 0.025rem solid #dcdcdc;
}
.platPay li{
  float: left;
  font-size: 0.5rem;
  color: #999999;
  margin: 0.5rem 0;
}
.platPay li:not(:last-child){
  padding-right: 0.75rem;
  border-right: 0.025rem solid #e5e5e5;
}
.platlx p:nth-of-type(2){
  font-size: 2.1rem;
  margin-left: 0.95rem;
}
.platlx1 p:nth-of-type(2){
  color: #ff692f;
}
.platPay li:nth-of-type(2){
  margin-left: 0.425rem;
}
.platlx2 p:nth-of-type(2n){
  margin-left: 1rem;
}
.platlx2 p{
  margin-left: 0.4rem;
  line-height: 0.8rem;
}
.platReward{
  padding-bottom: 0.45rem;
}
.platReward li span{
  display: inline-block;
}
.platReward li span:nth-of-type(1){
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 0.025rem;
  font-size: 0.65rem;
  text-align: center;
  line-height: 0.9rem;
  color: #fff;
}
.platReward li .red{
    background: #d03f4a;
}
.platReward li .pur{
  background: #5541b7;
}
.platReward li .yel{
  background: #ffba00;
}
.platReward li span:nth-of-type(2){
  font-size: 0.6rem;
  color: #a0a0a0;
}
.three{
  font-size: 0.6rem;
  color: #999999;
  text-align: center;
  line-height: 1.575rem;
  border-top: 0.025rem solid #dcdcdc;
}
/**/
.foot{
  position: fixed;
  bottom: 0;
  width: 100%;
}
.foot1{
  height: 2.4rem;
  background: #fff;
  border-top: 0.05rem solid #dddddd;
  padding:0 0.5rem;
}
.foot1 .footList{
  float: left;
  font-size: 0.4rem;
  width: 3.75rem;
  height: 2.4rem;
  text-align: center;
}
.footList i,.footList span{
  display: block;
  font-size: 0.6rem;
}
.footList i{
  margin-bottom: 0.35rem;
  margin-top: 0.3rem;
  font-size: 0.8rem;
}
.foot1 a{
  color: #666666;
}
.foot1 a:nth-of-type(2){
  color: #68bf21;
}
.foot2{
  width: 100%;
  height: 1.75rem;
  background: #454545;
  padding-left:1rem;
}
.foot2 li{
  float: left;
  font-size: 0.5rem;
}
.foot2 li a{
  color: #fff;
  display: inline-block;
  line-height: 1.75rem;
}
.foot2 li:not(:last-child){
  margin-right: 3.75rem;
}
/*图标字体*/


@font-face {font-family: "iconfont";
  src: url('../font/iconfont.eot?t=1460000178'); /* IE9*/
  src: url('../font/iconfont.eot?t=1460000178#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/iconfont.woff?t=1460000178') format('woff'), /* chrome, firefox */
  url('../font/iconfont.ttf?t=1460000178') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../font/iconfont.svg?t=1460000178#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-xiazai:before { content: "\e758"; }
.icon-xinshouzhinan:before { content: "\e6d6"; }
.icon-help-yjfk:before { content: "\e635"; }
.icon-huo:before { content: "\e63f"; }
.icon-tuoyuan1kaobei:before { content: "\e62a"; }
.icon-wo:before { content: "\e632"; }
.icon-qita:before { content: "\e627"; }















a
