*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
body{
  font-family: "微软雅黑","Hiragino Sans GB";
  background: #f8f8f8;
}
img{
  vertical-align: bottom;
}
li{
  list-style: none;
}
.clearfix:after{
  content: "";
  display: block;
  clear: both;
}
.head{
  width: 100%;
  height: 2.2rem;
  background: #68bf21;
}
.head span{
  float: left;
  color: #fff;
  line-height: 2.2rem;
  font-size: 0.75rem;
  margin-left: 4.75rem;
}
.head a{
  float: left;
  color: #fff;
  line-height: 2.2rem;
  font-size: 0.6rem;
  margin-left: 0.5rem;
}
/**/
.do{
  font-size: 0.6rem;
  color: #666666;
  padding-left: 0.5rem;
  line-height: 1.6rem;
}
.do span{
  font-size: 0.7rem;
  color: #68bf21;
}
/**/
.coupon{
  padding: 0 0.5rem;
}
.couponList{
  background: url(../img/jxjbg.jpg) no-repeat center center;
  width: 15rem;
  height: 3.95rem;
  background-size: cover;
  margin-bottom: 0.9rem;
}
.couponList div{
  float: left;
}
.couOne{
  margin: 0.8rem 1.15rem 0 0.825rem;
}
.couOne p:nth-of-type(1){
  font-size: 1.35rem;
  color: #66a402;
  margin-left: 0.3rem;
}
.couOne p:nth-of-type(2){
  font-size: 0.55rem;
  color: #999999;
}
.couTwo{
  margin-top: 1rem;
}
.couTwo p:nth-of-type(1){
  font-size: 0.65rem;
  color:#333333;
  line-height: 1rem;
}
.couTwo p:nth-of-type(2){
  font-size: 0.55rem;
  color:#999999;
  line-height: 1rem;
}
.coupon .couTh{
  width: 3.9rem;
  height: 1.15rem;
  border: 0.05rem solid #68bf21;
  border-radius: 0.55rem;
  text-align: center;
  margin-top: 1.3rem;
  float: right;
}
.couTh span{
  font-size: 0.6rem;
  color: #68bf21;
  float: left;
  margin-top: 0.15rem;
}
.couTh img{
  width: 0.6rem;
  height: 0.75rem;
  float: left;
  margin: 0.2rem 0.3rem 0 0.3rem;
}
/**/
.mask{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
}
.tip{
  width: 16rem;
  position: fixed;
  top: 7rem;
}
.tipCon{
  width: 13.5rem;
  margin: 0 auto;
  background: #fff;
  border-radius: 0.6rem;
}
.tipCon p:nth-of-type(1){
  font-size: 0.75rem;
  color: #333333;
  text-align: center;
  padding-top: 0.6rem;
}
.tipCon p:nth-of-type(2){
  font-size: 0.6rem;
  color: #666666;
  text-align: center;
  margin: 1.25rem 0 2.65rem 0;
}
.btn{
  border-top: 0.025rem solid #bbbbbb;
}
.btn span{
  float: left;
  font-size: 0.7rem;
  padding: 0 2.65rem;
  line-height: 2.2rem;
}
.btn span:nth-of-type(1){
  border-right: 0.025rem solid #bbbbbb;
  color: #68bf21;
}


a
