*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
body{
  font-family: "微软雅黑","Hiragino Sans GB";
  background: #f8f8f8;
}
img{
  vertical-align: bottom;
}
li{
  list-style: none;
}
.clearfix:after{
  content: "";
  display: block;
  clear: both;
}
.head{
  width: 100%;
  height: 2.2rem;
  background: #68bf21;
}
.head span{
  float: left;
  color: #fff;
  line-height: 2.2rem;
  font-size: 0.75rem;
  margin-left: 4.75rem;
}
.head a{
  float: left;
  color: #fff;
  line-height: 2.2rem;
  font-size: 0.6rem;
  margin-left: 0.5rem;
}
/**/
.nav{
  background: #fff;
  height: 2rem;
  border: 0.025rem solid #bbbbbb;
  margin-bottom: 0.25rem;
}
.nav span{
  float: left;
  font-size: 0.55rem;
  width: 5.25rem;
  text-align: center;
  border-right: 0.025rem solid #bbbbbb;
  line-height: 2rem;
  color: #999999;
}
.nav span:last-child{
  border-right: none;
}
/**/
.list li{
  border-top: 0.025rem solid #e5e5e5;
  border-bottom: 0.025rem solid #e5e5e5;
  padding: 0 1rem;
  margin-bottom: 0.25rem;
    background: #fff;
}
.plat img{
  width: 3.325rem;
  height: 1.25rem;
  display: inline-block;
  margin-top: 0.5rem;
}
.plat span{
  display: inline-block;
  font-size: 0.65rem;
  line-height: 1.25rem;
  color: #666666;
  margin-left: 0.2rem
}
.mes{
  float: left;
  font-size: 0.6rem;
  color: #999999;
}
.mes span{
  line-height: 0.95rem;
}
.mes div{
  margin-top: 0.3rem;
}
.mes p{
  line-height: 0.95rem;
  margin-bottom: 0.4rem;
}
.time{
  float: right;
  font-size: 0.6rem;
  color: #ff741c;
  margin-top: 1.3rem;
}
.red{
  color: #ff741c;
}
.green{
  color: #68bf21;
}
/**/
.time1{
  color: #666666;
}














a
