*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
body{
  font-family: "微软雅黑","Hiragino Sans GB";
}
img{
  vertical-align: bottom;
}
li{
  list-style: none;
}
.clearfix:after{
  content: "";
  display: block;
  clear: both;
}
.head{
  width: 100%;
  height: 2.2rem;
  background: #68bf21;
}
.head span{
  float: left;
  color: #fff;
  line-height: 2.2rem;
  font-size: 0.75rem;
  margin-left: 4.75rem;
}
.head a{
  float: left;
  color: #fff;
  line-height: 2.2rem;
  font-size: 0.6rem;
  margin-left: 0.5rem;
}
/**/
.nav{
  width: 100%;
  height: 2rem;
  border-bottom: 0.025rem solid #bbbbbb;
}
.nav .active{
  font-size: 0.6rem;
  color: #68bf21;
}
.nav span{
  float: left;
  font-size: 0.55rem;
  color: #999999;
  line-height: 2rem;
  width: 5.25rem;
  text-align: center;
}
.nav span:nth-of-type(2){
  border-left: 0.025rem solid #bbbbbb;
  border-right: 0.025rem solid #bbbbbb;
}
.process{
  padding: 0 1rem;
}
h3{
  font-size: 0.7rem;
  color: #666666;
  font-weight: normal;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1.6rem;
}
.proTitle{
  font-size: 0.6rem;
  color: #ff741c;
  font-weight: normal;
  margin-bottom: 0.5rem;
  margin-top: 0.6rem;
}
.proCont{
  font-size: 0.55rem;
  color: #888888;
  margin-bottom: 0.6rem;
}
.tip{
  font-size: 0.55rem;
  color: #999999;
  margin-top: 2rem;
  padding-bottom: 0.7rem;
  text-align: center;
}
.question{
  padding: 0 1rem;
  padding-bottom: 0.5rem;
}
.explain{
  padding: 0 1rem;
}
.explain h3{
  margin-bottom: 0.75rem;
}
.exOne{
  padding-bottom: 0.75rem;
}
.exOne span{
  float: left;
}
.exOne span:nth-of-type(1){
  font-size: 0.6rem;
  color: #68bf21;
}
.exOne span:nth-of-type(2){
  font-size: 0.55rem;
  color: #888888;
  margin-left: 0.5rem;
  line-height: 0.75rem;
}
.color span:nth-of-type(1){
  color: #ff741c;
}
.color{
  border-bottom: 0.025rem solid #bbbbbb;
}
.exTwo{
	padding-bottom: 0.5rem;
}
.exTwo h4{
  font-size: 0.7rem;
  color: #666666;
  text-align: center;
  font-weight: normal;
  margin-top: 0.85rem;
  margin-bottom: 1rem;
}
.exTwoCon{
  margin-bottom: 1.15rem;
}
.exTwoCon span{
  display: inline-block;
  width: 1.5rem;
  height: 0.8rem;
  background: #00bffe;
  border-radius: 0.1rem;
  font-size: 0.6rem;
  color: #fff;
  text-align: center;
  line-height: 0.8rem;
  vertical-align: top;
}
.exTwoConW{
  display: inline-block;
}
.exTwoConW p:nth-of-type(1){
  font-size: 0.6rem;
  color: #666666
}
.exTwoConW p:nth-of-type(2){
  font-size: 0.55rem;
  color: #888888;
}
.exTwoCon img{
  width: 1.25rem;
  height: 1.25rem;
  display: inline-block;
  vertical-align: top;
  margin-right: 0.2rem;
}




























a
